<div class="alert">
  <h3><%= notice %></h3>
</div>

<%= render @task %>

<div class="back">
  <%= link_to "Mostrar lista de tarefas", tasks_path %>
</div>
<div class="edite">
  <%= link_to "Editar tarefa", edit_task_path(@task) %>
</div> 

<div class="apagar">
    <%= link_to "Apagar tarefa", task_path(@task), data:{
        turbo_method: :delete,
        turbo_confirm: "Você tem certeza?"
    }%>
</div>


